<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Chesswyze admin suite">

    <test name="Chesswyze admin test">
        <classes>
            <class name="LoginPageTest">
                <methods>
                    <include name="verifyLoginPage"/>
                </methods>
            </class>


            <class name="CreateTournamentTest">
                <methods>
                    <include name="verifyCreateTournament"/>
                </methods>

            </class>
            <class name="AddTrainerTest">
                <methods>
                    <include name="verifyAddTrainer"/>
                    <include name="verifyDeleteTrainer"/>
                </methods>
            </class>

            <class name="AddTeamTest">
                <methods>

                </methods>
            </class>

        </classes>
    </test>

</suite>
